/* = = = = = = = = = = = = = = = = = datei boxfenster.css = = = = = = = = = = = = = = = = = = = = = = = = = */


/* -------------------------------------- */
/* diese datei enthält  die BOX-FENSTER mit box-fenster-öffnen/schliessen-funktionen */
/* -------------------------------------- */





/* ############################################################ */
/* INFO-FENSTER */
/* ############################################################ */

/* - - - - - INFOFENSTER FORMATIERUNG - - - - - */

.schalter  {
	position: relative;
	clip: auto;
}


#boxfenster-home ,
#boxfenster-primus1 ,
#boxfenster-primus2 ,
#boxfenster-primus3 ,
#boxfenster-bmi ,
#boxfenster-secundus ,



#boxfenster-tertius ,
#boxfenster-quartus,
#boxfenster-quintus ,
#boxfenster-sranfahrt ,

#boxfenster-Impressionen_Bau_allgemein,
#boxfenster-Impressionen_Laborwelt,

#boxfenster-reverenzen-1 ,
#boxfenster-reverenzen-2 ,
#boxfenster-reverenzen-3 ,
#boxfenster-reverenzen-4 ,
#boxfenster-reverenzen-5 ,
#boxfenster-reverenzen-6 ,
#boxfenster-reverenzen-7 ,
#boxfenster-reverenzen-71 ,
#boxfenster-reverenzen-8 ,
#boxfenster-reverenzen-9 ,
#boxfenster-reverenzen-10 ,
#boxfenster-reverenzen-11 ,
#boxfenster-reverenzen-12 ,
#boxfenster-reverenzen-13 ,
#boxfenster-reverenzen-14 ,
#boxfenster-reverenzen-15 ,
#boxfenster-reverenzen-16 ,
#boxfenster-reverenzen-17 ,
#boxfenster-reverenzen-18 ,

#boxfenster-laborbau-1 ,
#boxfenster-laborbau-2 ,
#boxfenster-laborbau-3 ,
#boxfenster-laborbau-4 ,
#boxfenster-laborbau-5 ,
#boxfenster-objektplanung-1 ,
#boxfenster-objektplanung-2 ,
#boxfenster-sextus,
#boxfenster-impressum ,
#boxfenster-datenschutz ,
#boxfenster-disclaimer  {display:block;
font-size:15px;
position:fixed;
top:0;
left:0;
overflow:auto;
box-shadow: 0 0 1px black;
text-align:left;
font-size:1.7rem;
line-height:2.5rem;
height:100vh;
width:100vw;
margin-top:-260vh;
overflow:hidden;
}

.boxinhalt {display:block;overflow:auto;position:relative;
background:#ECEFF1;
color:#000;
height:100%;
padding:7rem 2.5rem 2rem 2.5rem ;
margin:0;
}

.boxinhalt    h1, .boxinhalt   h2, .boxinhalt   h3  {
color:#000;
}

.boxinhalt a {
color:#000;
}

/* - - - schließen-schalter für box-fenster -  - - - */

.schalter label.button-close {display:table;
position: absolute;
top:1rem;right:0%;
z-index:3;
cursor:pointer;
background:transparent;
text-align:center;
width:100%;vertical-align:middle;
}


/* - - - icons  -  - - - */

.schalter  .fas {display:table-cell;vertical-align:middle;
color:#dca394;
margin:0rem;
padding: 0;
font-size:4rem;
width:5rem;
height:5rem;
line-height:5rem;
border-radius:100%;
}

.schalter .fas:hover  {
color:#78909C;
}


/* - - - toggle-funkton mit CHECKED- - - */


/* - checkbox versteckt - */
input[type=checkbox]{
display: none;
}


/* - fenster - ereignis nach klick - */
input#open-info-home:checked ~ #boxfenster-home,
input#open-info-primus1:checked ~ #boxfenster-primus1,
input#open-info-primus2:checked ~ #boxfenster-primus2,
input#open-info-primus3:checked ~ #boxfenster-primus3,

input#open-info-bmi:checked ~ #boxfenster-bmi,

input#open-info-secundus:checked ~ #boxfenster-secundus,
input#open-info-tertius:checked ~ #boxfenster-tertius,
input#open-info-quartus:checked ~ #boxfenster-quartus,
input#open-info-quintus:checked ~ #boxfenster-quintus,
input#open-info-sranfahrt:checked ~ #boxfenster-sranfahrt,

input#open-info-Impressionen_Bau_allgemein:checked ~ #boxfenster-Impressionen_Bau_allgemein,
input#open-info-Impressionen_Laborwelt:checked ~ #boxfenster-Impressionen_Laborwelt,

input#open-info-reverenzen-1:checked ~ #boxfenster-reverenzen-1,
input#open-info-reverenzen-2:checked ~ #boxfenster-reverenzen-2,
input#open-info-reverenzen-3:checked ~ #boxfenster-reverenzen-3,
input#open-info-reverenzen-4:checked ~ #boxfenster-reverenzen-4,

input#open-info-reverenzen-5:checked ~ #boxfenster-reverenzen-5,
input#open-info-reverenzen-6:checked ~ #boxfenster-reverenzen-6,
input#open-info-reverenzen-7:checked ~ #boxfenster-reverenzen-7,
input#open-info-reverenzen-71:checked ~ #boxfenster-reverenzen-71,
input#open-info-reverenzen-8:checked ~ #boxfenster-reverenzen-8,
input#open-info-reverenzen-9:checked ~ #boxfenster-reverenzen-9,
input#open-info-reverenzen-10:checked ~ #boxfenster-reverenzen-10,
input#open-info-reverenzen-11:checked ~ #boxfenster-reverenzen-11,
input#open-info-reverenzen-12:checked ~ #boxfenster-reverenzen-12,
input#open-info-reverenzen-13:checked ~ #boxfenster-reverenzen-13,
input#open-info-reverenzen-14:checked ~ #boxfenster-reverenzen-14,
input#open-info-reverenzen-15:checked ~ #boxfenster-reverenzen-15,
input#open-info-reverenzen-16:checked ~ #boxfenster-reverenzen-16,
input#open-info-reverenzen-17:checked ~ #boxfenster-reverenzen-17,
input#open-info-reverenzen-18:checked ~ #boxfenster-reverenzen-18,

input#open-info-objektplanung-1:checked ~ #boxfenster-objektplanung-1,
input#open-info-objektplanung-2:checked ~ #boxfenster-objektplanung-2,
input#open-info-laborbau-1:checked ~ #boxfenster-laborbau-1,
input#open-info-laborbau-2:checked ~ #boxfenster-laborbau-2,
input#open-info-laborbau-3:checked ~ #boxfenster-laborbau-3,
input#open-info-laborbau-4:checked ~ #boxfenster-laborbau-4,
input#open-info-laborbau-5:checked ~ #boxfenster-laborbau-5,
input#open-info-sextus:checked ~ #boxfenster-sextus,
input#open-info-impressum:checked ~ #boxfenster-impressum,
input#open-info-datenschutz:checked ~ #boxfenster-datenschutz,
input#open-info-disclaimer:checked ~ #boxfenster-disclaimer {
z-index:4;
margin:0;background:rgba(0,0,0,.6);
ANIMATION:einblenden 1s linear;
}


/* ############################################################ */
/* M E D I A   Q U E R I E S - RESPONSIVE-BILDSCHIRMABFRAGEN*/
/* ############################################################ */


/* ==================================== ab 640 pixel ================================== */

@media (min-width: 640px) {

/* fenster-schliessen-button wird neu positioniert */
.schalter label.button-close {top:2rem;right:3rem; width:auto; }

.boxinhalt {padding:2rem 2.5rem 2rem 2.5rem ; }


}


/* ==================================== ab 960 pixel ================================== */
@media (min-width: 960px) {

.boxinhalt {
width:80rem;
height:84vh;margin:0 auto;
margin-top:8vh;
margin-bottom:8vh;
}

}


/* = = = = = = = = = = = = = = = = = = = = = Code Ende = = = = = = = = = = = = = = = = = = = = = */
