


/* = = = = = = = = = = = = = = = = = datei menue.css = = = = = = = = = = = = = = = = = = = = = = = = = */


/* -------------------------------------- */
/* diese datei enthält das HAUTPMENÜ */
/* -------------------------------------- */

/* ############################################################ */
/* HAUPT-MENUE */
/* ############################################################ */

/* - - - - - MENU FORMATIERUNG - - - - - */

#nav {margin:0;
padding:0;
}

#menu1 {display:table;
position:absolute;
top:0%;left:0%;
height:100vh;
width:100%;
margin-top:-160vh;
padding:0;
background:transparent;
transition:all 1s ease-out;
}

#menu1 ul {height:100%;display:table-cell;
vertical-align:middle;background:#F5F5F5;
text-align:center;
margin:0 auto;
padding:0rem 1rem;
}

#menu1 li {list-style-type : none;display:block;
margin:0rem;
text-align:center;
padding:0;
font-weight:bold;
}

#menu1 li a {display:inline-block;
text-align:center;
text-decoration : none;
font-size:1.6rem;
letter-spacing:6px;
padding:.4rem 1rem ;
margin: 0 -4px;
background:transparent;
color:#78909C;
text-shadow:none;
text-transform:uppercase;
}

#menu1 li a:hover {background:transparent;
color:#78909C;
}


/* - - - menü-oeffnen-schalter  formatierung - - - */

/* menü-öffnen-schalter  formatierung */
#nav label.button-open  .fas  {display:inline-block;
text-align:center;
z-index:2;
position:absolute;
top:2rem;left:2rem;
margin:0;
padding:0rem;
background:#78909C;
color:white;
cursor:pointer;
height:5rem;
line-height:5rem;
width:5rem;
font-size:2.5rem;
border-radius:100%;
}


/* - - - menü-schließen-schalter  formatierung - - - */

#nav label.button-close .fas  {display:inline-block;
position: absolute;
top:2rem;left:2rem;
z-index:2;
cursor:pointer;
color:#DC7476;
background:white;
text-align:center;
vertical-align:middle;
height:5rem;
width:5rem;
line-height:5rem;
font-size:2.5rem;
border-radius:50%;
}


/* checkbox versteckt */
input[type=checkbox]{
display: none;
}

/* schaltet menu ein/aus */
input#open-menue:checked ~ #menu1  {
margin-top:0;
}

/* wechselt zw. menue-öffnen-button und menue-schließen-button */

input#open-menue:checked ~  label.button-open  {
opacity:0; }

input#open-menue:checked ~  label.button-close  {
opacity:1;  }






/* ############################################################ */
/* M E D I A   Q U E R I E S - RESPONSIVE-BILDSCHIRMABFRAGEN*/
/* ############################################################ */






/* ==================================== ab 760 pixel ================================== */

@media (min-width: 760px) {

#menu1  {height:50vh;  }

}


/* ==================================== ab 960 pixel ================================== */

@media (min-width: 960px) {

#menu1  {height:70vh;  }

}





/* ==================================== ab 1024 pixel ================================== */
@media (min-width: 1024px) {

/* menu-schalter versteckt */
#nav label.button-open ,
#nav label.button-close {display:none;
}

/* menu sichtbar */
#menu1 {z-index:4;position:fixed;width:27rem;
background:transparent;
top:0;left:0;
height:100%;
margin:0;
padding:0rem;text-align:center;
box-shadow:none;
}

#menu1 ul  {
margin:0rem;width:100%;height:100vh;
padding:0rem;text-align:center;
border-radius:0;
}

#menu1 li  {display:table;width:100%;
margin:0rem ;
padding: 0rem 0rem;
height:14.28vh;
line-height:14.28vh;
}

#menu1 li a {display:table-cell;vertical-align:middle;
width:100%;
text-decoration : none;
font-size:1.3rem;
line-height:1.6rem;
letter-spacing:1px;
padding:0 .5rem;
margin: 0;
color:#E0E0E0;
}

#menu1 li a:hover  {background:#dca394;
color:#fff;box-shadow:none;
}

#menu1 li:nth-child(1) {background:#263238; }
#menu1 li:nth-child(2) {background:#37474F; }
#menu1 li:nth-child(3) {background:#455A64; }
#menu1 li:nth-child(4) {background:#546E7A; }
#menu1 li:nth-child(5) {background:#607D8B; }
#menu1 li:nth-child(6) {background:#78909C; }
#menu1 li:nth-child(7) {background:#90A4AE; }


}





/* = = = = = = = = = = = = = = = = = = = = = Code Ende = = = = = = = = = = = = = = = = = = = = = */